@import "../utils/_variables.scss";

.category {
  padding: 32px 0;
  border-bottom: 2px solid $color_black;
}

.category__header {
  font-family: "IBM Plex Serif", sans-serif;
  font-size: 4rem;
  margin: 0;
}

.category__back {
  text-decoration: none;
  font-size: 1.5rem;
  color: $color_blue;
  font-weight: 500;

  p {
    display: inline;
  }

  &:hover {
    color: $color_black;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .category {
    padding: 64px 0;
  }
  .category__header {
    font-size: 128px;
  }
}
