@import "../utils/_variables.scss";

.header {
  border-bottom: 2px solid $color_black;
  padding: 24px 0;
}

.header__logo {
  font-weight: 700;
  color: $color_black;
  margin: 0;
  font-size: 2.5rem;
  text-decoration: none;
}
