@import '../../utils/_variables.scss';

.categories {
    padding: 64px 0;
    border-bottom: 2px solid $color_black;
}

.categories__header {
    font-weight: 500;
}

.categories__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.category__button{
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    position: relative;
    background-size: 100px;
    border: none;
    color: $color_blue;
    margin: 0;
    margin-right: 36px;
    margin-bottom: 16px;
    padding: 0;
    text-decoration: none;

    &:hover {
        color: $color_black;
        cursor: pointer;
    }

    & p {
        margin: 0;
    }

    &__reset{
        font-size: 24px;
        font-weight: 500;
    }
}

