@import "../../utils/_variables.scss";

.categories {
  padding: 4rem 0;
  border-bottom: 2px solid $color_black;
}

.categories__header {
  font-weight: 500;
  font-size: 1.5rem;
}

.categories__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.category__button {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  background-size: 100px;
  border: none;
  color: $color_blue;
  margin: 0;
  margin-right: 48px;
  margin-bottom: 16px;
  padding: 0;
  text-decoration: none;

  &:hover {
    color: $color_black;
    cursor: pointer;
  }
}
