.sign-in {
  margin: 120px 0;
  max-width: 240px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 40px);
  grid-gap: 16px;

  & input {
    display: block;
    margin-top: 8px;
    width: 200px;
    font-size: 16px;
  }
}
