.logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    animation: onLoad 0.5s ease-out forwards;
    opacity: 0;
    margin-bottom: 3em;
    max-width: 300px;

    &__type{
        align-self: center;
        margin: 12px;
        margin-left: 0;
    }
  }

  @keyframes onLoad { from {
    opacity: 0;
   } to { 
    opacity: 1; 
  } }