$font_color: black;

a {
    text-decoration: none;
    font-size: 24px;
    color: $font_color;
}

a:visited {
    color: $font_color;
}

a:hover {
    color:rgb(70, 70, 70);
    cursor: pointer;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 12px 20px;
    width: 100%;
    opacity: 0;
    animation: onLoad 0.5s ease-out forwards;
    padding: 0;
}

.links__item {
    width: fit-content;
    margin-bottom: 24px;
}

.links__link:hover{
    display: inline-block;
    animation: linkHover 0.5 ease-out forwards;
}

.links__tags {
    display: flex;
    flex-direction: row;
}

.links__tag {
    margin: 0 1em 0 0;
    color: black;
    width: fit-content;
}

li {
    list-style-type: none;
}

@keyframes linkHover { from { } to { 
    transform: translateY(-3px);
} }

@keyframes onLoad { from {
    opacity: 0;
   } to { 
    opacity: 1; 
  } }
