@import "../../utils/_variables.scss";

.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2rem;
  padding: 32px 0;
  margin-bottom: 4rem;
}

.links__item {
  width: fit-content;

  a {
    text-decoration: none;
    font-size: 24px;
    color: $color_blue;
    font-weight: 500;
  }

  a:visited {
    color: $color_blue;
  }

  a:hover {
    color: $color_black;
    cursor: pointer;
  }
}

.paper-count {
  font-size: 16px;
  margin: 0.5rem 0;
}

li {
  list-style-type: none;
}
