$color_white: #eeeeee;
$color_orange: #FC9307;
$color_purple: #C326E2;
$color_green: #54DAAB;

a {
    text-decoration: none;
    font-size: 24px;
    color: $color_white;
}

a:visited {
    color: $color_white;
}

a:hover {
    color:#dddddd;
    cursor: pointer;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    grid-gap: 0 24px;
    animation: onLoad 0.5s ease-out forwards;
    padding: 0;
}

.links__item {
    width: fit-content;
    margin-bottom: 24px;
}

.links__link:hover{
    display: inline-block;
    animation: linkHover 0.5 ease-out forwards;
}

.links__tags {
    display: flex;
    flex-direction: row;
}

.links__tag {
    margin: 0 8px 8px 0;
    width: fit-content;

    &--orange {
        color: $color_orange;
    }
    &--purple {
        color: $color_purple;
    }
    &--green {
        color: $color_green;
    }
}

li {
    list-style-type: none;
}

@keyframes linkHover { from { } to { 
    transform: translateY(-3px);
} }

@keyframes onLoad { from {
    opacity: 0;
   } to { 
    opacity: 1; 
  } }
